@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Febrotesk4FUnicase";
  src: url("../src/assets/fonts/Febrotesk4FUnicase-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/Febrotesk4FUnicase-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@import "tailwindcss";

@theme {
  --font-primary: "Poppins", sans-serif;
  --font-feb: "Febrotesk4FUnicase", "sans-serif";
  --color-primary: #f7238a;
}
